<!DOCTYPE html>
<html manifest="appcache.manifest">
<head>
  <meta charset="UTF-8" name="viewport" content="maximum-scale=1,initial-scale=1,user-scalable=no" />
  <title>COBI Grid Advanced</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/css/uikit.min.css">
  <link rel="stylesheet" href="style.css">
</head>

  <body>
    <ul id="main-grid" class="uk-grid-small uk-child-width-1-5 uk-text-center" uk-grid>

      <li class="uk-width-2-5">
          <div class="uk-card uk-card-default uk-card-body">
            <div class="label">mode</div>
            <div class="value" id="motor_mode">—</div>
            <div class="unit">
                <span class="label">Assistance</span>
                <span class="value" id="motor_assistance" style="font-size: 14px">—</span>
                <span class="unit">%</span> 
          </div>
      </li>
      <li>
          <div class="uk-card uk-card-default uk-card-body">
            <div class="label">speed</div>
            <div class="value" id="ride_speed">—</div>
            <div class="unit">
                <span class="label">Avg</span>
                <span class="value" id="tour_average_speed" style="font-size: 14px">—</span>
                <span class="unit">km/h</span>
            </div>
          </div>

      </li>      
      <li>
          <div class="uk-card uk-card-default uk-card-body">
            <div class="label">battery</div>
            <div class="value" id="battery_battery" >—</div>
            <div class="unit">%</div>
          </div>
      </li>
      <li>
          <div class="uk-card uk-card-default uk-card-body">
            <div class="label">range</div>
            <div class="value" id="motor_range">—</div>
            <div class="unit">km</div>
          </div>
      </li>
      
      
      <li>
          <div class="uk-card uk-card-default uk-card-body">
            <div class="label">distance</div>
            <div class="value" id="tour_distance">—</div>
            <div class="unit">
                <span class="label">Rem</span>
                <span class="value" id="route_distance" style="font-size: 14px">—</span>
                <span class="unit">km</span>
            </div>
          </div>
      </li>
      <li>
          <div class="uk-card uk-card-default uk-card-body">
            <div class="label">duration</div>
            <div class="value"id="tour_duration">—</div>
            <div class="unit">
                <span class="label">ETA</span>
                <span class="value" id="route_eta" style="font-size: 14px">—</span>
                <span class="unit">h:mm</span>
            </div>
          </div>
      </li>
      <li>
          <div class="uk-card uk-card-default uk-card-body">
            <div class="label">altitude</div>
            <div class="value"id="tour_altitude">—</div>
            <div class="unit">
                <span class="label">Ascent</span>
                <span class="value" id="tour_ascent" style="font-size: 14px">—</span>
                <span class="unit">m</span>
            </div>            
          </div>
      </li>
      <li>
          <div class="uk-card uk-card-default uk-card-body">
            <div class="label">power</div>
            <div id="power" class="value">—</div>
            <div class="unit">
                <span class="label">Cadence</span>
                <span class="value" id="ride_cadence" style="font-size: 14px">—</span>
                <span class="unit">rpm</span>            
          </div>
      </li>
      <li>
          <div class="uk-card uk-card-default uk-card-body">
            <div class="label">calories</div>
            <div class="value" id="tour_calories">—</div>
            <div class="unit">
                <span class="label">Heart</span>
                <span class="value" id="ride_heart_rate" style="font-size: 14px">—</span>
                <span class="unit">bpm</span>            
          </div>
      </li>
  </ul>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit.min.js"></script>
  <script src="https://cdn.cobi.bike/cobi.js/0.44.0/cobi.js"></script>
  <script src="utils.js"></script>
  <script src="client.js"></script>
  <script src="grid.js"></script>
  </body>
</html>
