@font-face {
  font-family: 'UniSansRegularItalic';
  src: url("./unisans/2C7394_8_0.eot");
  src: url("./unisans/2C7394_8_0.eot?#iefix") format("embedded-opentype"), url("./unisans/2C7394_8_0.woff2") format("woff2"), url("./unisans/2C7394_8_0.woff") format("woff"), url("./unisans/2C7394_8_0.ttf") format("truetype");
}